/* color palet*/
/*
color 
 #84B3ED
  #CFD5E3
 #437fc7
 #fdfcdc
  text #22223b
*/

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #fdfcdc;
  font-family: "Oswald", sans-serif;
  color: #22223b;
  font-weight: 400;
}
/*Anchors*/
.link:link,
.link:visited {
  justify-content: space-around;
  align-content: center;
  text-decoration: none;
  color: #437fc7;
  /* background-color: #fdfcdc; */
}
/* text color for dark theme */
.link_dark:link,
.link_dark:visited {
  color: #b9cfea;
}
/* light theme hover */
.light_theme:hover {
  border-radius: 5px;
  color: #fdfcdc;
  background-color: #437fc7;
  transition: color 0.3s, background-color, 0.3s;
  padding-left: 3px;
  padding-right: 3px;
}
/* dark theme hover */
.dark_theme:hover {
  color: #2e2d1f;
  background-color: #b9cfea;
}

/*Navigation*/
#logo-name {
  font-family: "Playwrite AU SA", cursive;
  font-weight: 800;
  display: inline-block;
}
#dark-logo-name {
  font-family: "Playwrite AU SA", cursive;
  font-weight: 800;
  display: inline-block;
}
.logoname-light {
  color: #437fc7;
}
.logoname-dark {
  color: #b9cfea;
}

.logo-surname {
  background-color: #437fc7;
  color: #fdfcdc;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 27px;
}
/* dark mode */
.dark-logo-name {
  background-color: #b9cfea;
  color: #2e2d1f;
}
#logo-name:hover {
  border-radius: 5px;
  color: #fdfcdc;
  background-color: #437fc7;
  transition: color 0.3s, background-color, 0.3s;
  padding-left: 3px;
  padding-right: 3px;
}
#dark-logo-name:hover {
  border-radius: 5px;
  background-color: #b9cfea;
  color: #2e2d1f;
  transition: color 0.3s, background-color, 0.3s;
  padding-left: 3px;
  padding-right: 3px;
}
/*Footer*/
footer {
  margin-top: 50px;
}
footer a:link,
footer a:visited {
  color: #437fc7;
  /* background-color: #fdfcdc; */
}
/* dark theme */
.footer-dark a:link,
.footer-dark a:visited {
  color: #b9cfea;
}
.footer-dark a:hover {
  color: #2e2d1f;
  background-color: #b9cfea;
}
footer a:hover {
  color: #fdfcdc;
  background-color: #437fc7;
  transition: color 0.3s, background-color, 0.3s;
  padding: 3px 3px 3px 3px;
  border-radius: 5px;
}
.footer {
  margin-bottom: 20px;
}
/* Home page*/
.margins {
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-corner {
  border-radius: 10px;
}
.intro {
  margin-bottom: 100px;
}

.text-size h1 {
  font-size: 70px;
}
.text-size p {
  font-size: 30px;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 70px 20px 70px 20px;
}
.lead {
  font-weight: 400;
}
.images img {
  box-shadow: 0px 4px 20px rgba(67, 127, 199, 0.9);
}

.homePage {
  width: 80%;
  margin-bottom: 200px;
}
main .images {
  text-align: center;
}
.images {
  width: 100%;
}
/* About me Page*/

.skills h4 {
  background-color: #437fc7;
  color: #fdfcdc;
  border-radius: 10px;
}
/* skills dark theme */
.skills_dark h4 {
  background-color: #b9cfea;
  color: #2e2d1f;
}
.resume-button {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  margin-top: 8px;
}
.resume-button {
  background-color: #437fc7;
  margin-top: 30px;
}

.resume-button a {
  color: #fdfcdc;
  text-decoration: none;
}
/* resueme button dark theme */
.resume-button-dark {
  background-color: #b9cfea;
}
.resume-button-dark a {
  color: #2e2d1f;
}
#resueme-page {
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(67, 127, 199, 0.9);
}
.skill-list li {
  list-style: none;
  margin-bottom: 10px;
}

.skill-list li i {
  margin-right: 10px;
  font-size: 30px;
}

.in-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.list h5 {
  font-size: 30px;
}
/* Contact page*/
.contact {
  margin-bottom: 200px;
}
#contact-form {
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.form-part {
  justify-content: center;
  display: flex;
  gap: 50px;
}
.part-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.part-group label {
  font-size: 30px;
  background-color: #437fc7;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  color: #fdfcdc;
}
/* dark mode */
.part-group-dark label {
  color: #2e2d1f;
  background-color: #b9cfea;
}

.text-field {
  width: 100%;
  height: 80px;
  border: 1px solid #437fc7;
  border-radius: 5px;
  background-color: #fdfcdc;
}
#submit-button {
  text-align: center;
  border-radius: 4px;
  border: 0px;
  padding: 10px;
  margin-top: 8px;
  background-color: #437fc7;
  color: #fdfcdc;
  font-size: 25px;
}
/* dark submit button */
#submit-button-dark {
  text-align: center;
  border-radius: 4px;
  border: 0px;
  padding: 10px;
  margin-top: 8px;
  background-color: #b9cfea;
  color: #2e2d1f;
  font-size: 25px;
}
/* Project Page*/
.card {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  border: none;
  box-shadow: -10px 4px 20px rgba(67, 127, 199, 0.7);

  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}
.card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card-body {
  background-color: #fdfcdc;
  font-size: 20px;
  margin-top: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-packs {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
/* media query for projects cards*/
@media (max-width: 1200px) {
  .card-packs {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 453px) {
  .card-packs {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  /* .images img {
    width: 30px;
    height: 20px;
  } */
}

@media (max-width: 992px) {
  #resume {
    width: 80%;
    margin-left: 60px;
  }
  .AboutMePage .about-me-texts {
    width: 100%;
  }

  .form-part {
    display: flex;
    flex-direction: column;
  }
}
/* icons*/
.social-icons a i {
  font-size: 35px;
}

.social-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

/* blog page */
.blog-title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
.blog-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
.blog {
  width: 100%;
  height: 500px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
@media (max-width: 1000px) {
  .blog {
    width: 100%;
    height: 100%;
  }
}
